.mainbody {
  color: #fff;
  height: 5rem;
  position: fixed;
  backdrop-filter: blur(10px);
  background-color: rgba(240, 248, 255, 0.152);
  width: 100%;
  border: none;
  border-bottom: 2.5px solid rgba(255, 255, 255, 0.152);
  display: flex;
  align-items: center;

  .logo{
    height: 60%;
    width: auto;
    filter: brightness(210%);
    margin-left: 1rem;
  }
}